@tailwind base;
@tailwind components;
@tailwind utilities; 

:root {
  --themePrimary: #01260D;
  --foreground: #ffffff;
}


body {
  color: var(--foreground);
  background: var(--themePrimary);
  font-family: Arial, Helvetica, sans-serif;
}
 